# Compilados y Ejecutables
*.exe
*.o
*.obj
*.out

# Carpetas de Debug/Release (si usas Visual Studio o CLion)
Debug/
Release/
x64/
x86/

# Configuraciones de VS Code
.vscode/
# (A veces es bueno subir launch.json, pero por ahora ignóralo todo)

# Archivos temporales del sistema
.DS_Store
Thumbs.db